body{
    width: 890px;height: 1386px;
    background: white;
    margin: 0 auto;
    padding: 0 45px;
}
header{font-family:"黑体";font-size:12px;position: relative}
hr{margin: 0;}
.left{
    margin-top: 36px;
    background: url("1.jpg");
    width: 641px;height: 301px;
    display: inline-block;
}
.right{
    margin-top: 36px;
    float: right;
}
.title1{
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 24px;font-family:'微软雅黑';
    color:#000;line-height: 40px
}
.text1{
    color:#cc8091;font-family:'微软雅黑';
}

.div2{
    overflow: hidden;
}
.title2{
    font-size: 16px;font-weight: bold;
    text-decoration: underline;
}
.p1{
    font-size: 12px;font-family: '宋体';
    color: #767777;
    line-height: 16px;
}
.p2{
    font-family:'黑体';font-weight: bold;
    margin:0;
}
.wwh{
    float: left;
    /*display: inline-block;*/
    margin-right: 15px;margin-top: 30px;
    width: 196px;
}

.div3{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.qian{
     color:#f5e327;
    font: 70px 微软雅黑;
    float: left;
    padding:0 10px 0 0;
}
.left2{
    float: left;
    margin-right: 500px;
    /*display: inline-block;*/
}
.right2{
    position: absolute;right: 0;top: 0;
    /*float: right;*/
    /*display: inline-block;*/
    width: 458px;height: 600px
}
.rightTop{
    width: 458px;height: 257px;
    background: url("2.png");
    position: absolute;
    right: 0;top: 0;
}
.rtBar{
    background-color: rgba(0,0,0,0.5);
    /*opacity: 0.5;*/
    width: 458px;height: 61px;
    position: absolute;
    bottom: 0;left: 0
}
.textBorder{
    border-left: 3px solid #72b16a;height: 44px; 
    margin:8.5px 0 8.5px 30px;
    padding-left: 10px;
    line-height: 44px;
    /*position: absolute;bottom: 0;*/
}
.rightDown{
    width: 459px;height: 318px;
    background-color: #eeedd6;
    position: absolute;
    bottom: 0;right: 0;
}
.rd{
    width: 260px;height: 160px;
    background-color:#d45d5c;
    position: absolute;left: 0;bottom: 0;
}
.rdText{
    width: 236px;height: 90px;
    padding: 38px 12px;
    position: relative;
}
.rdtext2{
    color: #5a5b5b;
    padding: 15px;
    font-family: '宋体';
}
.rdtext2 p:before{
    content: '\25B2';
    color:#10456b;
    font-size: 10px;margin-right: 5px;
}
.rdright{
    float: right;width: 180px;
    font-size: 14px;font-family: '黑体';line-height: 16px;
    padding: 10px;
}
.rdright:before{
    content: '“';
    font-size: 72px;color:#d45d5c;
    position: relative;left: -40px;bottom: -35px;
}
.rdright:after{
    content: '”';
    font-size: 72px;color:#d45d5c;float: right;margin: 30px -20px 0 0;
    /*position: relative;left: 90px;bottom: -30px;*/
}
.right2Down{
    width: 459px;height: 160px;
    position: absolute;bottom:0;
}
/*.triUp{*/
    /*width: 0;height: 0;*/
    /*border-left: 6px solid transparent;border-right:6px solid transparent;*/
    /*border-bottom: 10px solid #10456b;*/
/*}*/
